nnoremap ; :
nnoremap : ;
set whichwrap=b,s,h,l,<,>,[,]
set mouse=a
syntax on
set clipboard=unnamed,autoselect
set noerrorbells
set backspace=indent,eol,start
set virtualedit+=onemore
set ttimeoutlen=10
set completeopt=menuone,noinsert
set encoding=UTF-8
filetype plugin on
set scrolloff=5
set wildmenu
set hidden
set nobackup
set nowritebackup
set cmdheight=2
set updatetime=300
set shortmess+=c

"editor - display
set cursorline
set number
set showmatch 

"editor - search
set incsearch "incremental search
set ignorecase
set smartcase
set hlsearch "highlight search

"status line settings
set laststatus=2
set title

"indent settings
set breakindent
set smartindent

"file settings
set autoread
set modifiable
set write
set noswapfile

"editor - tab setting
set tabstop=4
set shiftwidth=4
set autoindent
set expandtab


noremap H ^
noremap L $l

"keybind - emacs
inoremap <C-d> <Del>
inoremap <C-h> <BS>
inoremap <C-a> <home>
inoremap <C-e> <End>
inoremap <C-p> <Up>
inoremap <C-n> <Down>
inoremap <C-f> <right>
inoremap <C-b> <left>
inoremap <C-k> <Esc>lc$

nnoremap <C-w> diw
nnoremap <C-h> hx
nnoremap <C-d> x

"keybind - cursormove
noremap <C-j> }zz
noremap <C-k> {zz
" noremap j gjzz
" nnoremap k gkzz



nnoremap O o<C-c>

set argtextobj

let mapleader=","
set easymotion
set commentary
set surround
